:root {
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 95%);
  --text: var(--black);
  --bg: var(--white);
  --font: futura-pt, sans-serif;
  --font-weight-normal: 400;
  --font-bold: futura-pt-bold, sans-serif;
  --font-weight-bold: 700;
  --padding: 8px;
  --timer: cubic-bezier(0.23, 1, 0.320, 1);
}

/**
 * BORDER BOX
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
  font-weight: var(--font-weight-normal);
}

h1, h2,
h3, h4,
h5, h6 {
  text-transform: uppercase;
  font-family: var(--font-bold);
  font-weight: var(--font-weight-bold);
}

/* header */

.header {
  padding-top: 40vh;
  min-height: 80vh;
}

.header h1,
.header h2 {
  margin: 0;
}

.header h1 {
  line-height: 1rem;
}

.header h2 {
  font-size: 1rem;
  letter-spacing: 0.875rem;
}

.tags {
  animation: slideDown 800ms var(--timer) 1 forwards;
}

/* section */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--padding);
}

.section {
  position: relative;
}

.section .blurb p {
  margin-top: 8rem;
}

/* projects */

.projects {
  margin-top: 20vh;
}

.projects .freelance ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects .freelance li.project-card {
  background: white;
  margin: 0 0 0.5rem;
  padding: 1rem 0.5rem;
  display: flex;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.project-card .project-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card .project-details {
  flex: 2
}

/* contact */

.contact a {
  display: block;
  text-align: center;
}

.footer {
  padding: 5vh 0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}